:host {
  display: block;
  // height: calc(100vh - 56px);
  position: relative;
}

.servers, .partition-sets {
  padding-top: 15px;
}

.server, .partition-set {
  background-color: #f1f1f1;
  border: 1px solid #eeeeee;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  min-height: 100px;
  
  .title {
    position: absolute;
    min-width: 300px;
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: -150px;
    text-align: center;
  }

  .partition {
    float: left;
    padding-left: 15px;
    border-left: 3px solid #28a745;

    &:first-child {
      margin-left: 0;
      padding-left: 0;
      border-left: 0;
    }

    &.active .vnf {
      background-color: orangered;
    }
  }

  .partition-data {
    font-size: 20px;
  }
}

.chain {
  background-color: #f1f1f1;
  border: 1px solid #eeeeee;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  padding: 15px;
}

.vnf {
  background-color: #343a40;
  border: 1px solid #28a745;
  width: 100px;
  height: 100px;
  margin-right: 15px;
  text-align: center;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  padding-top: 30px;
}

.vnf-list {
  /*position: absolute;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;*/
}
