<div class="row">
  <div class="col-md-8">

    <div class="partition-sets" *ngIf="ds.isShowPartitions">
      <div class="partition-set clearfix" *ngFor="let partitionSet of ne.partitionSet; let i = index;">
        <div class="partition" *ngFor="let partition of partitionSet" [ngClass]="{'active' : partition.active}">
          <app-vnf class="vnf" *ngFor="let vnf of partition" [data]="vnf"></app-vnf>
        </div>
        <div class="partition-data" *ngIf="ne.calculatedSwitchingCosts[i]">{{'{minimum cost flow of this partition: ' + ne.calculatedSwitchingCosts[i] + '}'}}</div>
      </div>
    </div>

    <div class="chain" *ngIf="ds.isShowChain">
      <app-vnf class="vnf" *ngFor="let vnf of ne.chain$ | async" [data]="vnf"></app-vnf>
    </div>
  </div>

  <div class="col-md-4">

    <div class="servers" *ngIf="ds.isShowServers">
      <div class="server" *ngFor="let server of ne.servers$ | async">
        <div class="title">{{ server.name }}</div>
        <div class="vnf-list" *ngIf="server.vnfs.length">
          <app-vnf class="vnf" *ngFor="let vnf of server.vnfs" [data]="vnf"></app-vnf>
        </div>
      </div>
    </div>

    <app-bipartite-graph *ngIf="ds.isShowGraph"></app-bipartite-graph>
  </div>
</div>
