/deep/ body {
  color: #5a5a5a;
}

main {
  padding-top: 56px;
}


.navigation-texts {
  font-size: 25px;
  text-align: center;
  top: 50%;
  margin-top: -80px;
  position: absolute;
  left: 0;
  right: 0;
}
